body {font-family: Arial, Helvetica, sans-serif; background-color: rgb(0, 125, 184);}
form {
  display: flex;
  flex-direction: column;
  border: 3px solid #f1f1f1;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

h2{
  position: absolute;
  left: 160px;
  top: 30px;
}
  
.loginBox{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40%;
  left: 50%; 
  margin-top: -100px; 
  margin-left: -250px; 
  width: 450px; 
  height: 500px; 
  background: rgb(255, 255, 255);
  border: 8px black
}

.pictureBox{
  display: flex;
  width: 450px;
  align-items: stretch;
}

.pictureBox > .welcome {
  display: flex;
  justify-content: flex-start;
  margin: 30px;
  align-items: center;
  text-align: center;
}

.verticalBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verticalBox > .account {
  margin:20px;
}

.verticalBox > .or {
  margin:20px;
}

.verticalBox > .login {
  margin:20px;
}

.enterData{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
}

.enterData > .textField {
  width: 300px;
}

.enterData > .passwordField {
  width: 300px;
}

button {
  background-color: #0a4194;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  
}
button:hover {
  opacity: 0.8;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
img.avatar {
  width: 40%;
  border-radius: 50%;
}
.container {
  padding: 16px;
  background-color: white;
}

p{
  text-align: center;
}

/* ---------------------INDEX.HTML-------------------- */

.feedBox{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40%;
  left: 50%; 
  top: 0;
  margin-left: -500px; 
  width: 1000px; 
  height: 100%; 
  background: rgb(255, 255, 255);
  border: 8px black
}

nav {
  display: flex;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

nav div{
  height: 60px;
  flex-grow: 4;
  padding: 20px;
}

nav div img {
  height: 100%;
}

nav div

.searchBox{
  display: flex;
  width: 450px;
  align-items: stretch;
  height: 100%;
}

.infoBox{
  display: flex;
  width: 700px;
  align-items: stretch;
  height: 800px;
  box-shadow: -10px 20px 30px #888888;
}
}
