body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 125, 184);
}

form {
  display: flex;
  flex-direction: column;
  border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {/*attribute selector*/
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


body {
  margin:auto;
}

.loginBox {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  width: 450px;
  height: 500px;
  background: rgb(255, 255, 255);
  border: 8px black
}

#pictureBox {
  display: flex;
  width: 450px;
  align-items: stretch;
}

#pictureBox > .welcome {/*child combinator*/
  margin: 40px;
  align-items: center;
}

#verticalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  font-family: BreeSerif;
  font-size: 24px;
}

.welcome {
  font-family: BreeSerif;
  font-size: 20px;
}

.textField {
    font-family: BreeSerif;
}

.or {
  font-family: BreeSerif;
  font-size: 15px;
}

.account {
  font-family: BreeSerif;
  font-size: 19px;
  color: blue;
}

#verticalBox > .account {
  margin:13px;
}

#verticalBox > .or {
  margin:20px;
}

#verticalBox > .login {
  margin:13px;
}

label + .or {/*Adjacent sibling combinator*/
  font-weight: bold;
}

#enterData{/*ID selector*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
}

#enterData > .textField {
  width: 300px;
}

#enterData > .passwordField {
  width: 300px;
}

button {
  background-color: #0a4194;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: BreeSerif;

}

button:hover {/*pseudoclass*/
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  background-color: white;
}

p {
  text-align: center;
  font-family: BreeSerif;
}

.pealkiri {
  text-align: left;
  padding-left: 2%
}

/* ---------------------INDEX.HTML-------------------- */

.flex-container {
  display: flex;
  flex-direction: column;
  left: 100%;
  margin-top: 0;
  margin-left: 25%;
  width: 650px;
  height: 100%;
  background: rgb(255, 255, 255);
  border: 8px black
}

nav {
  display: flex;
  background-color: #ffffff;
  align-items: center;
}

div {/*type Selector*/
  display: flex;
}

img {
  height: 100%;
}

.blogiFotod {
  width: 100%;
  padding-top: 0;
}

nav div {/*Descendant Selector*/
  height: 30px;
  flex-grow: 4;
  padding: 10px;
}

nav div img {
  height: 100%;
}

nav div.search-container > input {/*child combinator and class selector*/
  box-sizing: border-box;
  height: 30px;
  width: 80%;
  margin: 0;
  padding: 5px;
  border: 1px solid #e0e0e0;
}

.search-container {/*class Selector*/
  flex-direction: row;
}

nav div.search-container > button {
  background-color: #0a4194;
  border-radius: 0px 5px 5px 0px;
  color: white;
  padding: 1px 20px;
  margin:0;
  border: none;
  cursor: pointer;
  width: 30%;
  font-family: BreeSerif;
}

.infoBox {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 20px;
  border-radius: 10px;
  height: 10%;
  box-shadow: -10px 20px 30px #888888;
}

p::first-letter {/*Pseudo-element*/
  color: #0a4194;
}

div ~ p {/*General Sibling Selector*/
  text-align: left;
}

.bar {
  display: flex;
  border-radius: 10px;
  height: 20%;
}

.vasak {
  align-items: flex-start;
  flex-direction: column;
}

.parem {
  padding: 0;
  padding-bottom: 20px;
  align-items: flex-end;
  flex-direction: column;
}

.paremPilt{
  flex-direction: column;
  align-items: flex-end;
}

.like{
  height: 10%;
  width: 10%;
  align-items: flex-start;
}

@font-face {
  font-family: BreeSerif;
  src: url(resources/BreeSerif-Regular.ttf);
}
